{"openapi":"3.1.0","info":{"title":"Integra BFI API","version":"1.0.0","description":"<img src=\"/public/logo_dark.webp\" alt=\"Integra\" height=\"36\" style=\"margin-bottom:16px\" />\n\nAPI publica da plataforma Integra para integracoes externas.\n\n> [!tip]\n> **Copie a documentacao completa para sua IA favorita:**\n> [Abrir pagina de copia](/docs/markdown) ou baixe o [llm.txt](/llm.txt)\n\n---\n\n## Como comecar\n\n### 1. Gerar sua API Key\n\nAcesse o painel da Integra em **Settings > API Keys** e clique em **Nova API Key**.\n\n> [!important]\n> Copie a key gerada (`ik_live_...`) imediatamente — ela **so sera exibida uma vez**.\n\n### 2. Autenticar requests\n\nEnvie o header `Authorization` em todas as chamadas:\n\n```\nAuthorization: Bearer ik_live_sua_key_aqui\n```\n\n### 3. Fazer sua primeira chamada\n\n```bash\ncurl -H \"Authorization: Bearer ik_live_xxx\" \\\n  https://api.useintegra.com.br/api/v1/campaigns\n```\n\n> [!success]\n> Se a resposta for `200 OK` com JSON, sua integracao esta funcionando!\n\n---\n\n## Rate Limiting\n\n| Header | Descricao |\n|--------|-----------|\n| `X-RateLimit-Limit` | Limite total (60/min) |\n| `X-RateLimit-Remaining` | Requests restantes |\n| `X-RateLimit-Reset` | Timestamp de reset (epoch) |\n\n> [!warning]\n> Ao exceder **60 requests/minuto** por API Key, a API retorna status `429 Too Many Requests`.\n\n---\n\n## Erros comuns\n\n| Status | Erro | Causa |\n|--------|------|-------|\n| `401` | Invalid API key | Key invalida ou revogada |\n| `403` | Forbidden | Key sem permissao para o recurso |\n| `429` | Rate limit exceeded | Excedeu 60 req/min |\n| `500` | Internal server error | Erro interno — contate suporte |\n"},"tags":[{"name":"Campaigns","description":"Gerenciamento de campanhas de ligacoes"},{"name":"Calls","description":"Historico de chamadas"},{"name":"Webhooks","description":"Gerenciamento de webhooks para notificacoes em tempo real"}],"security":[{"ApiKey":[]}],"servers":[{"url":"https://api.useintegra.com.br","description":"Production"}],"components":{"securitySchemes":{"ApiKey":{"type":"http","scheme":"bearer","bearerFormat":"API Key","description":"API Key da organizacao (Authorization: Bearer ik_live_xxx)"}},"schemas":{"WebhookListItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string","enum":["call.completed","campaign.started","campaign.completed"]}},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}},"required":["id","name","url","events","is_active","created_at","updated_at"]},"WebhookCreated":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"secret":{"type":"string","description":"HMAC-SHA256 secret (exibido apenas uma vez)"},"events":{"type":"array","items":{"type":"string"}},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"}},"required":["id","name","url","secret","events","is_active","created_at"]},"WebhookDelivery":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"event_type":{"type":"string"},"payload":{"type":"object"},"status":{"type":"string","enum":["PENDING","DELIVERED","FAILED"]},"status_code":{"type":"integer","nullable":true},"response_body":{"type":"string","nullable":true},"attempts":{"type":"integer"},"max_attempts":{"type":"integer"},"last_attempt_at":{"type":"string","format":"date-time","nullable":true},"next_retry_at":{"type":"string","format":"date-time","nullable":true},"delivered_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}}},"parameters":{}},"paths":{"/api/v1/campaigns":{"get":{"tags":["Campaigns"],"summary":"Listar campanhas da organizacao","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"Pagina (default: 1)"},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","description":"Itens por pagina (default: 20, max: 100)"},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","description":"Filtrar por status"},"required":false,"name":"status","in":"query"}],"responses":{"200":{"description":"Lista de campanhas","content":{"application/json":{"schema":{"type":"object","properties":{"campaigns":{"type":"array","items":{}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["campaigns","pagination"]}}}},"401":{"description":"Nao autenticado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"post":{"tags":["Campaigns"],"summary":"Criar nova campanha de ligacoes","description":"Cria uma campanha de ligacoes automaticas. As ligacoes serao iniciadas no horario agendado.\n\n> **Onde encontrar os IDs?**\n> - `project_id`: No painel, clique no projeto e copie o ID no header (icone de clipboard ao lado do nome)\n> - `agent_id`: No painel, cada card de agente mostra o ID no rodape (icone de clipboard)\n> - `phone_number_id`: Use o endpoint GET /api/v1/phone-numbers ou copie do painel em Telecom","security":[{"ApiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Nome da campanha","example":"Campanha Marco 2026"},"project_id":{"type":"string","format":"uuid","description":"ID do projeto (copie do Panel → header do projeto)","example":"b9c80a57-fad2-41a0-a304-727337ad1b1f"},"agent_id":{"type":"string","format":"uuid","description":"ID do agente que fara as ligacoes (copie do Panel → card do agente)","example":"7e09d093-904a-48de-ac49-b0445906c38e"},"phone_number_id":{"type":"string","format":"uuid","description":"ID do numero de telefone de origem","example":"d1082e49-1b2c-4337-81e2-8eb74810351d"},"scheduled_at":{"type":"string","format":"date-time","description":"Data/hora para iniciar as ligacoes (ISO 8601 com timezone)","example":"2026-03-25T14:00:00Z"},"recipients":{"type":"array","description":"Lista de destinatarios (max 10.000)","minItems":1,"maxItems":10000,"items":{"type":"object","properties":{"phone_number":{"type":"string","pattern":"^\\+[1-9]\\d{7,14}$","description":"Numero no formato E.164","example":"+5511999999999"},"recipient_name":{"type":"string","description":"Nome do destinatario (opcional)","example":"Joao Silva"},"dynamic_variables":{"type":"object","description":"Variaveis dinamicas para o prompt do agente (ex: {{leadName}}). Chave = nome da variavel, valor = texto (max 1000 chars)","additionalProperties":{"type":"string","maxLength":1000},"example":{"leadName":"Joao","companyName":"Acme Corp"}}},"required":["phone_number"]}},"config":{"type":"object","description":"Configuracoes opcionais da campanha","properties":{"call_timeout":{"type":"integer","minimum":15,"maximum":120,"description":"Timeout de ring em segundos (default: 45)","example":45},"machine_detection_timeout":{"type":"integer","minimum":5,"maximum":60,"description":"Timeout de deteccao de caixa postal em segundos (default: 30)","example":30},"voicemail_mode":{"type":"string","enum":["hangup","tts"],"description":"Acao ao detectar caixa postal: hangup (desliga) ou tts (deixa recado)","example":"hangup"},"voicemail_tts_message":{"type":"string","maxLength":500,"description":"Mensagem TTS para caixa postal (usado quando voicemail_mode=tts)","example":"Oi {leadName}, tentei falar com voce. Me retorne quando puder!"},"outbound_auto_greet":{"type":"boolean","description":"Agente cumprimenta imediatamente sem esperar o destinatario (default: true)","example":true},"max_concurrent":{"type":"integer","minimum":1,"maximum":10,"description":"Max ligacoes simultaneas nesta campanha (default: 2)","example":2}}}},"required":["name","project_id","agent_id","phone_number_id","scheduled_at","recipients"]},"example":{"name":"Campanha Marco 2026","project_id":"b9c80a57-fad2-41a0-a304-727337ad1b1f","agent_id":"7e09d093-904a-48de-ac49-b0445906c38e","phone_number_id":"d1082e49-1b2c-4337-81e2-8eb74810351d","scheduled_at":"2026-03-25T14:00:00Z","recipients":[{"phone_number":"+5511999999999","recipient_name":"Joao Silva","dynamic_variables":{"leadName":"Joao","companyName":"Acme Corp"}},{"phone_number":"+5511888888888","recipient_name":"Maria Santos","dynamic_variables":{"leadName":"Maria","companyName":"Beta Ltd"}}],"config":{"call_timeout":45,"voicemail_mode":"hangup","outbound_auto_greet":true,"max_concurrent":2}}}}},"responses":{"201":{"description":"Campanha criada com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"ID da campanha criada"},"name":{"type":"string"},"status":{"type":"string","enum":["PENDING"]},"total_recipients":{"type":"integer"},"scheduled_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Bad Request — dados invalidos","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/campaigns/{id}":{"get":{"tags":["Campaigns"],"summary":"Detalhes de uma campanha","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"ID da campanha"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Detalhes da campanha com recipients","content":{"application/json":{"schema":{}}}},"404":{"description":"Nao encontrada","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/calls":{"get":{"tags":["Calls"],"summary":"Listar historico de chamadas da organizacao","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"Pagina (default: 1)"},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","description":"Itens por pagina (default: 20, max: 100)"},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","description":"Filtrar por status (COMPLETED, FAILED, etc)"},"required":false,"name":"status","in":"query"},{"schema":{"type":"string","description":"Filtrar por direcao (INBOUND, OUTBOUND)"},"required":false,"name":"direction","in":"query"},{"schema":{"type":"string","description":"Data inicio (ISO 8601)"},"required":false,"name":"from","in":"query"},{"schema":{"type":"string","description":"Data fim (ISO 8601)"},"required":false,"name":"to","in":"query"}],"responses":{"200":{"description":"Lista de chamadas","content":{"application/json":{"schema":{"type":"object","properties":{"calls":{"type":"array","items":{}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["calls","pagination"]}}}},"401":{"description":"Nao autenticado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/calls/{id}":{"get":{"tags":["Calls"],"summary":"Detalhes de uma chamada","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"ID da chamada"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Detalhes da chamada","content":{"application/json":{"schema":{}}}},"404":{"description":"Nao encontrada","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/webhooks":{"get":{"tags":["Webhooks"],"summary":"Listar webhooks da organizacao","security":[{"ApiKey":[]}],"responses":{"200":{"description":"Lista de webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/WebhookListItem"}}},"required":["webhooks"]}}}},"401":{"description":"Nao autenticado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"post":{"tags":["Webhooks"],"summary":"Criar novo webhook","description":"Cria um webhook para receber notificacoes de eventos. O secret retornado so e exibido uma vez — guarde-o para verificar assinaturas HMAC-SHA256. Maximo de 10 webhooks por organizacao.","security":[{"ApiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"Nome identificador do webhook"},"url":{"type":"string","format":"uri","description":"URL HTTPS que recebera os eventos"},"events":{"type":"array","items":{"type":"string","enum":["call.completed","campaign.started","campaign.completed"]},"minItems":1,"description":"Eventos que o webhook deve receber"}},"required":["name","url","events"]}}}},"responses":{"201":{"description":"Webhook criado. O secret so e exibido uma vez.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreated"}}}},"400":{"description":"Bad Request (URL invalida, evento invalido ou limite atingido)","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/webhooks/{id}":{"get":{"tags":["Webhooks"],"summary":"Detalhes de um webhook","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"ID do webhook"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Detalhes do webhook com ultimas entregas","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"recent_deliveries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"event_type":{"type":"string"},"status":{"type":"string"},"status_code":{"type":"integer","nullable":true},"attempts":{"type":"integer"},"delivered_at":{"type":"string","nullable":true},"created_at":{"type":"string"}}}}}}}}},"404":{"description":"Nao encontrado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"patch":{"tags":["Webhooks"],"summary":"Atualizar webhook","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"ID do webhook"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string","enum":["call.completed","campaign.started","campaign.completed"]},"minItems":1},"is_active":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Webhook atualizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookListItem"}}}},"404":{"description":"Nao encontrado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"delete":{"tags":["Webhooks"],"summary":"Excluir webhook","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"ID do webhook"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Webhook excluido","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"404":{"description":"Nao encontrado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/webhooks/{id}/deliveries":{"get":{"tags":["Webhooks"],"summary":"Listar entregas de um webhook","security":[{"ApiKey":[]}],"parameters":[{"schema":{"type":"string","description":"ID do webhook"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"Pagina (default: 1)"},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","description":"Itens por pagina (default: 20, max: 100)"},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Lista de entregas","content":{"application/json":{"schema":{"type":"object","properties":{"deliveries":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDelivery"}},"pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["deliveries","pagination"]}}}},"404":{"description":"Webhook nao encontrado","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}}},"webhooks":{}}
